body
{
    background-color: black;
}

.titulo
{
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 10px;
    color: darkorange;
    font-family: 'Faith Collapsing', sans-serif;
    font-size: 100px;
}

.contenedor 
{
    width: 80%;
    display: flex;
    margin: auto;
}

.elemento {
    flex: 40px;
}

.dropdown-btn
{
    background-color: black;
    color: white;
    text-align: center;
    width: 55%;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.dropdown-content a:hover
{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn
{
    background-color: gray;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

ul
{
    display: inline;
    list-style: none;
    margin: 0;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    display: flex;
}

li
{
    text-align: left;
}

li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Faith Collapsing', sans-serif;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:hover
{
    background-color: rgba(128, 128, 128, 0.444);
}

.contenidos2
{
    margin: auto;
    width: 80%;
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Book Antiqua', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.caracteristicas
{
    align-items: center;
}

ol li .caracteristicas
{   
    list-style: upper-roman;
    text-align: center;
    font-size: xx-large;
}

